*{
  font-family: Helvetica;
}
.clear{clear: both;}
.wrapper {
  width:60%;
  border:1px solid #dfdfdf;
  border-radius: 8px;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0px 0px 10px #888888;
}
.add-rooms {text-align: center; padding: 20px 0;}
.add-rooms a {
  display: inline-block; 
  background-color: #17aa56; 
  padding: 10px 30px; 
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 5px #119e4d;
  font-weight: bold;
}
.add-rooms a:hover {
  text-decoration: none;
}
p{padding: 5px;}
.bookings_table input[type="number"] { 
  width:30px; 
}

.bookings_table{
  font-size: 14px;
  color: gray;
  margin-top: 10px;
}
.bookings_table th{
  border-bottom: 1px solid #666;
  text-align: center;
  padding: 5px 0;
  background: #ccc;
  color: #000;
}
.errors {
  color:#c00;
}

.calendar_container {
  margin: auto;
  width: 80%;
}
.container{
  font-family: Trebuchet;
  font-size: 15px;
  width: 900px;
  margin: 0 auto;
}
h1{
  text-align: center;
}
.meeting_room{
  border-left: 1px solid #ccc;
}
.meeting_room td{
  text-align: center;
  text-transform: capitalize;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.one-line-listing{

}
.one-line-listing li{
  float: left;
  list-style: none;
  border-right: 1px solid #666;
  width: 100px;
  padding: 0 10px;
  text-align: center;
  padding: 5px 10px;
}
